@font-face {
    font-family: 'norse';
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf	);
}
body {
    background-color: black;
}
.mainframe{
    display: flex;
    flex-direction: row;
    border: 0;
    margin: 0;
    padding: 0;
    
}
#left{
    width: 37vw;
    height: 100vh;
    background-image: url(./cecilia-frost-M9D3poaqPzk-unsplash.jpg);
    background-size: cover;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

a {
    color: rgb(118, 92, 73);
}

.credit {
    position: absolute;
    top: 95%;
    color: black;

}
.odin {
    display: flex;
    top: 25%;
    position: relative;
    height: 15%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / .5);
      
}
.odin > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'norse';
    font-size: 12vh; 
    color: white;
    line-height: 10vh;
    padding-top: 5%;    
}

#right {
    
    background-color: whitesmoke;
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
    justify-content: space-around;
    font-family:Arial, Helvetica, sans-serif;

    
}    


#first, #third{
    height: 36vh;
}
#first{
    position: relative;
    font-size: 3vh;
    font-weight:bold;
}
#first>div{
    position: absolute;
    bottom: 0;
    margin: 0 0 10% 5%;
   
}
#third>div{
    margin-left: 5%;
}
button {
    width: 15vw;
    padding: 6px;
    border-radius: 7px;
    margin: 5%;
    background-color: rgb(134, 101, 78);
    color: white;
}
#second{
    height: 28vh;
    background-color: white;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.3);
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.532);    
}


.form-group{
    display: flex;
}

.form-group > div{
   width: 40%;
}
label {
    display: inline-block;
    width: 20vw;
    margin: 10px 0px 0px 0px;
    font-size: smaller;
}
input {
    width: 18vw;
    font-size: 14px;
}






